# You can set recipient of the email from this variable
# Just set the sender and authenticating the sender from dashboard
NEXT_PUBLIC_SENDGRID_FROM_NAME=
NEXT_PUBLIC_SENDGRID_FROM_EMAIL=
NEXT_PUBLIC_SENDGRID_REPLY_TO_EMAIL=

# You can generate the sendgrid api key from dashboard -> settings -> API Keys
SENDGRID_API_KEY=