# This will be the sender of email activity (need authorization app password from gmail only)
NEXT_PUBLIC_BURNER_USERNAME=""
NEXT_PUBLIC_BURNER_PASSWORD=""

# This will be the receiver of email activity
NEXT_PUBLIC_PERSONAL_EMAIL=""